<p>List of Elixers</p>

<div class="cardsPosition">
  <div *ngFor="let elixer of elixersList">
    <div class="card">
      <ul class="w-full">
        <li class="item">Name: {{ elixer.name }}</li>
        <li class="item">Effect: {{ elixer.effect }}</li>
        <li class="item">SideEffects: {{ elixer.sideEffects }}</li>
        <li class="item">Caracteristics: {{ elixer.caracteristics }}</li>
        <li class="item">Time: {{ elixer.time }}</li>
        <li class="lastItem">Dificulty: {{ elixer.dificulty }}</li>
      </ul>
    </div>
  </div>
</div>
